[submodule "render_math"]
	path = plugins/render_math
	url = https://github.com/barrysteyn/pelican_plugin-render_math.git
[submodule "plugins/image_process"]
	path = plugins/image_process
	url = git@github.com:whiskyechobravo/image_process.git
[submodule "output"]
	path = output
	url = git@github.com:fritzm/fritzm.github.io.git
